name: Deploy to Timeweb

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Update code
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.TIMEWEB_HOST }}
          username: ${{ secrets.TIMEWEB_USER }}
          key: ${{ secrets.TIMEWEB_SSH_KEY }}
          script: |
            cd ~/Lec7.com
            git pull

      - name: Stop containers
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.TIMEWEB_HOST }}
          username: ${{ secrets.TIMEWEB_USER }}
          key: ${{ secrets.TIMEWEB_SSH_KEY }}
          script: |
            cd ~/Lec7.com
            docker-compose down

      - name: Build and start
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.TIMEWEB_HOST }}
          username: ${{ secrets.TIMEWEB_USER }}
          key: ${{ secrets.TIMEWEB_SSH_KEY }}
          command_timeout: 30m
          script: |
            cd ~/Lec7.com
            nohup docker-compose build --no-cache app > /tmp/docker-build.log 2>&1 &
            BUILD_PID=$!
            echo "Build started with PID $BUILD_PID"
            wait $BUILD_PID
            docker-compose up -d
            docker-compose exec -T postgres npx prisma migrate deploy || true
